<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Nodestack</title>
  <style>
    body {
      margin-left: 20px;
      background-color: darkslategray;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
      color: antiquewhite;
    }

    h2{
      color: azure;
    }

    pre {
      border: 1px white solid;
      background-color: white;
      opacity: .5;
    }

    pre code {
      color: black;
      line-height: 1.5;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>